---
import '../styles/open-color.css';
import '@fontsource-variable/inter';

const props = Astro.props;

const title = props.title || "hato810424's website";
const description = props.description || '';
const noIndex = props.noIndex || true;
---

<!doctype html>
<html lang="ja">
	<head>
		{noIndex && <meta name="robots" content="noindex" />}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content="hato, hato810424, website, portfolio" />
		<meta name="author" content="hato810424" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.toString()} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Inter Variable', 'Noto Sans JP', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--oc-gray-0);

	word-break: keep-all;
	overflow-wrap: anywhere
}
	
* {
	box-sizing: border-box;
}
</style>

<style is:global>
  img {
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		-ms-user-drag: none;
		user-select: none;
		user-drag: none;
		-webkit-user-drag: none;
	}

	img.emoji {
		height: 1em;
		width: 1em;
		margin: 0 .05em 0 .1em;
		vertical-align: -0.1em;
	}
	svg.emoji {
		height: 0.8em;
		width: 0.8em;
		margin: 0 .05em 0 .1em;
	}
</style>
